<ng-container *ngIf="!user">
    <img src="../../../assets/return_bg.png" style="width: 100%; height: 640px;">
    
</ng-container>
<ng-container *ngIf="user">
    <div class="mb-5 p-3 bg-white shadow-sm">
        <ng-container *ngIf="step1">
            <h5 class="heading" >Processing Details</h5>
            <div class="modal modal-sheet position-static d-block py-2" tabindex="-1" role="dialog" id="modalSheet">
                <div class="modal-dialog modal-xl" role="document">
                    <div class="modal-content rounded-4 shadow">
                        <div class="modal-header border-bottom-0"></div>
                        <div class="modal-body py-0">
                            <form [formGroup]="step1Form">
                                <div class="form-row" style="display: flex; justify-content: space-evenly">
                                    <div class="form-group col-md-4">
                                        <label for="inputName">Name</label>
                                        <input type="text" class="form-control" id="inputName" placeholder="name" formControlName="name" [ngClass]="{
                        'is-invalid': submitted && f['name'].errors
                      }" />
                                        <div class="invalid-feedback" *ngIf="submitted && f['name'].errors">
                                            <div *ngIf="f['name'].errors['required']">
                                                Name is required
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="inputNumber">Contact Number</label>
                                        <input type="number" class="form-control" id="inputNumber" placeholder="Number" formControlName="contactNumber" [ngClass]="{
                        'is-invalid': submitted && f['contactNumber'].errors
                      }" />
                                        <div class="invalid-feedback" *ngIf="submitted && f['contactNumber'].errors">
                                            <div *ngIf="f['contactNumber'].errors['required']">
                                                Contact Number is required
                                            </div>
                                            <div *ngIf="f['contactNumber'].errors['minlength']">
                                                Minimum 10 characters
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="form-row" style="display: flex; justify-content: space-evenly">
                                    <div class="form-group col-md-4">
                                        <label for="inputComName">Component Name</label>
                                        <input type="text" class="form-control" id="inputComName" placeholder="Component Name" formControlName="componentName" [ngClass]="{
                        'is-invalid': submitted && f['componentName'].errors
                      }" />
                                        <div class="invalid-feedback" *ngIf="submitted && f['componentName'].errors">
                                            <div *ngIf="f['componentName'].errors['required']">
                                                Component Name is required
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="inputQty">Quantity</label>
                                        <input type="number" class="form-control" id="inputQty" placeholder="Quantity" formControlName="quantity" [ngClass]="{
                        'is-invalid': submitted && f['quantity'].errors
                      }" />
                                        <div class="invalid-feedback" *ngIf="submitted && f['quantity'].errors">
                                            <div *ngIf="f['quantity'].errors['required']">
                                                Quantity is required
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="form-row" style="display: flex; justify-content: space-evenly">
                                    <div class="form-group col-md-4">
                                        <div style="display: flex; justify-content: space-between">
                                            <label for="inlineFormCustomSelectPref">Compnent Type</label
                      >
                      <div>
                        <input
                          id="male"
                          type="radio"
                          value="Integral"
                          name="componentType"
                          formControlName="componentType"
                        />
                        <label for="Integral">Integral</label>
                                        </div>
                                        <div>
                                            <input id="male" type="radio" value="Accessory" name="componentType" formControlName="componentType" />
                                            <label for="Accessory">Accessory</label>
                                        </div>
                                        <div *ngIf="submitted && f['componentType'].invalid" class="val">
                                            Please select 1 option
                                        </div>
                                    </div>
                                    <br />
                                </div>

                                <div class="form-group col-md-4">
                                    <label for="inputDesc">Description</label>
                                    <textarea rows="4" class="form-control" id="inputDesc" formControlName="description" [ngClass]="{
                        'is-invalid': submitted && f['description'].errors
                      }"></textarea>
                                    <div class="invalid-feedback" *ngIf="submitted && f['description'].errors">
                                        <div *ngIf="f['description'].errors['required']">
                                            Description is required
                                        </div>
                                    </div>
                                </div>
                        </div>
                        </form>
                    </div>
                    <div class="modal-footer flex-column border-top-0">
                        <button type="button" class="next-btn btn btn-lg btn-primary w-100 mx-0 mb-2" (click)="proceedToNext()">
                Next
              </button>
                    </div>
                </div>
            </div>
    </div>
    </ng-container>

    <ng-container *ngIf="!step1">
        <h5 class="heading">Packageing & delivery charges</h5>
        <div class="modal modal-sheet position-static d-block py-5" tabindex="-1" role="dialog" id="modalSheet">
            <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content rounded-4 shadow">
                    <div class="modal-header border-bottom-0">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body py-0">
                        <form [formGroup]="step2Form" (ngSubmit)="save()">
                            <div class="form-row" style="display: flex; justify-content: space-evenly">
                                <div class="form-group col-md-3">
                                    <label for="inputReqId">Request Id</label>
                                    <input type="number" class="form-control" id="inputReqId" [readonly]="readonly" formControlName="requestId" />
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="inputPrcCharge">Processing Charge</label>
                                    <input type="number" class="form-control" id="inputPrcCharge" [readonly]="readonly" formControlName="totalCharges" />
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="inputPackCharge">Packageing Charge</label>
                                    <input type="number" class="form-control" id="inputPackCharge" [readonly]="readonly" formControlName="packageCharges" />
                                </div>
                            </div>

                            <div class="form-row" style="display: flex; justify-content: space-evenly">
                                <div class="form-group col-md-3">
                                    <label for="inputDelCharge">Delivery Charge</label>
                                    <input type="number" class="form-control" id="inputDelCharge" [readonly]="readonly" formControlName="deliveryCharges" />
                                </div>

                                <div class="form-group col-md-3">
                                    <label for="inputDOF">Date of Delivery</label>
                                    <input type="text" class="form-control" id="inputDOF" [readonly]="readonly" formControlName="dateOfDelivery" />
                                </div>

                                <div class="form-group col-md-3">
                                    <label for="inlineFormCustomSelectPref">Are you sure want to process your request ?</label
                    >
                    <div>
                      <input
                        id="Unfulfill"
                        type="radio"
                        value="Unfulfill"
                        [checked]="status === 'Unfulfill'"
                        name="status"
                        formControlName="status"
                      />
                      <label for="Unfulfill">No</label>
                                </div>
                                <div>
                                    <input id="Fulfill" type="radio" value="Fulfill" [checked]="status === 'Fulfill'" name="status" formControlName="status" />
                                    <label for="Fulfill">Yes</label>
                                </div>
                            </div>
                    </div>
                    <button type="submit" class="save-btn btn btn-lg btn-primary w-100 mx-0 mb-2">
                  Save
                </button>
                    </form>
                </div>
                <div class="modal-footer flex-column border-top-0">
                    <button type="button" class="cancel-btn btn btn-lg btn-light w-100 mx-0" data-bs-dismiss="modal" (click)="close()">
                Cancel
              </button>
                </div>
            </div>
        </div>
        </div>
    </ng-container>
    </div>
</ng-container>